{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    {% for item in publishers %}
        <ul class="list-group">
            <li class="list-group-item">
                {{ item.title }}
                <ul class="list-group">
                    {% for book in item.books.all %}
                        <li class="list-group-item"> {{ book.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endfor %}
{% endblock %}